<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EjemploSpring MVC</title>
</head>
<body>
    <h2>PAGINA DE INICIO</h2>
    <p th:text="${mensaje}">Mensaje por defecto</p>
    <p th:text="${dato}">Dato por defecto</p>
    <p><a th:href="@{/agregar}">AGREGAR USUARIO</a></p>
    <h4>LISTA DE PERSONAS</h4>
    <div th:if="${usuarios} != null and !${usuarios}.empty">
        <table border="1">
            <tr>
                <th>CEDULA</th>
                <th>CLAVE</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
            </tr>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.cedula}"></td>
                <td th:text="${u.clave}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${usuarios} == null or ${usuarios}.empty">La lista de Usuarios esta Vacia</div>
    <hr>
    <b>CEDULA:</b><span th:text="${alguien.cedula}"></span><br>
    <b>CLAVE:</b><span th:text="${alguien.clave}"></span><br>
    <b>NOMBRE:</b><span th:text="${alguien.nombre}"></span><br>
    <b>EMAIL:</b><span th:text="${alguien.email}"></span><br>
</body>
</html>