<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EjemploSpring MVC</title>
</head>
<body>
    <h2>PAGINA DE INICIO</h2>
    <p th:text="${mensaje}">Mensaje por defecto</p>
    <p th:text="${dato}">Dato por defecto</p>
    <hr>
    <b>CEDULA:</b><span th:text="${alguien.cedula}"></span><br>
    <b>CLAVE:</b><span th:text="${alguien.clave}"></span><br>
    <b>NOMBRE:</b><span th:text="${alguien.nombre}"></span><br>
    <b>EMAIL:</b><span th:text="${alguien.email}"></span><br>
</body>
</html>